@import '../../global';

.product-catalog-container {
  margin-top: 95px;
  background-color: $white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12%;
  padding-right: 12%;

  .product-catalog-heading {
    color: $product-catalog-heading-color;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    margin-top: 40px;
  }

  .product-catalog {
    border: 1px solid $product-catalog-border-color;
    @include border-radius(4px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;

    img {
      width: 95%;
    }

    .product-description {
      font-size: 14px;
      font-weight: bold;
      color: $product-description-color;
    }

    .product-price {
      margin-top: 20px;
      color: $red-color;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
