// Sass variables
// All colors
$white: #ffffff;
$off-white: #eaeaea;
$pure-black: #000000;
$red-color: #d90e0e;

$body-bg-color: #eeeeee;
$shadow-color: #888888;
$header-color: #3c4146;
$product-catalog-heading-color: #333333;
$product-catalog-border-color: #d8d8d8;
$product-description-color: #4d4d4d;

$shadow-color-dark: #252525;
$button-blue: #2869bc;
$partition-color: #32333f;
$content-text-color: #b5b5b5;
$highlight-green: #59d28e;
$heart-red: #be1123;
$success-modal-bg: #58c090;
$danger-modal-bg: #ed6e7e;

// Sass mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
